h2 {
    text-decoration: underline;
}


.link, 
.home-button, 
#header-title {
    font-family: "Times New Roman", "Helvetica", sans-serif;
}

body {
    background-color: lightgoldenrodyellow;
}

.link {
    font-weight: bold;
    font-size: 25px;
}

.link-recipe {
    font-size: 30px;
}

.home-button {
    background: lightblue;
}

#header-title {
    color: lightblue;
    font-size: 65px;
    font-weight: bold;
    text-decoration: underline;
}

.image {
    height: 500px;
    width: auto;
}

.header-title {
    color: lightcoral;
    text-decoration: underline;
}

.recipe-part {
    text-decoration: underline; 
    font-weight: bold;
}

.verticalline {
    border-left: thick solid black;
}

.recipe-intro {
    text-indent: 5px;
}